@import url('https://fonts.googleapis.com/css2?family=Abel&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E7ECFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 460px;
  padding: 20px;
}

.login-card {
  background: #F8F8F8;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Logo Styles */
.logo {
  margin-bottom: 15px;
}

.logo img {
  width: 85%;
}


/* Welcome Message */
.welcome {
  color: #71B69C;
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  color: #344C9C;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
}

/* Form Styles */
.login-form {
  text-align: left;
}

.form-group {
  margin-bottom: 24px;
}

.form-group label {
  display: block;
  color: #324F9D;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #88A3FF;
  background-color: transparent;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #324F9D;
}

/* Button Styles */
.login-button {
  width: 100%;
  padding: 16px;
  background: #324F9D;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background: #2f477a;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #324F9D; /* Cor do ícone */
}

.eye-icon {
  width: 20px;
  height: 20px;
}

/* Ajustar o padding do input de senha para não sobrepor o ícone */
.password-container input {
  padding-right: 40px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login-card {
      padding: 24px;
  }

  .welcome {
      font-size: 28px;
  }

  .subtitle {
      font-size: 14px;
  }
}